
body {
  padding: 10px;
  font-family: verdana;
  font-size: 15px;
}

h2 {
  font-size: 20px;
  border-bottom: 3px solid grey;
}

h4 {
  font-size: 12px;
}

.film-box {
  width: 250px;
  padding: 25px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  background-color: #D0C5C5;
  align-items: center;
  border: solid;
  border-radius: 5%;
}

.film-list {
  display: flex;
  flex-direction: column;
}

a:link, a:visited {
  color: grey;
  padding: 5px 10px;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: grey;
  color: white;
}

.more-films a {
 border: 2px solid black;
}
